@use 'tailwind';
@use 'input';
@use 'button';

html {
  @apply text-black-75 h-fit overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-black-100;
}

h1 {
  @apply text-4xl sm:text-5xl;
}

h2 {
  @apply text-3xl sm:text-4xl;
}

h3 {
  @apply text-2xl sm:text-3xl;
}

h4 {
  @apply text-xl sm:text-2xl;
}

h5 {
  @apply text-lg sm:text-xl;
}

h6 {
  @apply text-base sm:text-lg;
}

a {
  @apply text-primary underline;
}

.navbar {
  @apply flex items-center justify-between;

  &--big {
    @apply px-[20px] sm:px-[80px] md:px-[160px] lg:px-[320px] py-[28px];
  }

  &--small {
    @apply px-[20px] sm:px-[40px] md:px-[80px] lg:px-[160px] py-[24px] border-b border-black-10;
  }

  &__link {
    @apply text-black-100 hidden sm:block;
  }

  &__menu {
    @apply bg-black-5 rounded-[16px] p-[12px] border-black-25 font-bold text-black-100;

    &-item {
      @apply p-[16px] rounded-[16px] hover:bg-black-10;
    }

    &-btn {
      @apply sm:hidden text-black-100;
    }
  }
}
